/*
 *
 *
 *
 *
 * ******************************* @c-button-link(css)
 * ***************************************************
 *
 */

.c-button-link {
  display: inline-block;
  padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit*1.5;
  color: $global-color-text;
  border: none;
  font-size: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s;
  text-decoration: none;
  text-transform: uppercase;

  &--white {
    background: #fff;
    color: $global-color-grey;

    &:hover {
      background: darken(#fff, 12.5%);
      color: darken($global-color-grey, 12.5%);
    }
  }

}

